footer-container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: green;
}

footer-content {
  position: absolute;
  bottom: 0;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
